
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=glutrix
Name=glutrix
Icon=/home/alse/.glutrix/icon.png
Exec=/home/alse/.glutrix/glutrix 1366 768
